logs:
  level: debug
  encode: console #json or console
  initFields:
    company: your-company
    group: your-group
    package: {{.PackageName}}
    server: {{ToKebab .Interface.Name}}-server
    version: 1.0.0
  file:
    maxSize: 100
    maxBackups: 10
    maxAge: 28