logs:
  level: debug
  encode: console #json or console
  initFields:
    company: wayz
    department: location
    project: tilestream
    application: tile-server
    version: 1.0.0
  file:
    maxSize: 100
    maxBackups: 10
    maxAge: 28