module {{.Name}}

{{range .Dependencies}} {{if .Path}}
replace {{.Name}} => {{.Path}}
{{- end}}
{{- end}}

go {{.Version}}

require (
    google.golang.org/protobuf v1.28.0
	google.golang.org/grpc v1.42.0
	github.com/iancoleman/strcase v0.1.3 // indirect
	github.com/json-iterator/go v1.1.10
	github.com/modern-go/reflect2 v0.0.0-20180701023420-4b7aa43c6742
	{{- range .Dependencies}}
	{{.Name}} {{.Version}}
	{{- end}}
	github.com/stretchr/testify v1.7.0
)