/// the {{.Name}} package
package {{.FullName}} {
    version: '{{.Version}}'
    authors: [{
        author: '{{.Author}}'
        email:  '{{.Email}}'
        organization: '{{.Organization}}'
    }]
    {{if .License}}
    license: '{{.License}}'
    {{- end}}
    repository: '{{.Repository}}'
}