module {{.RepositoryPath}}

go 1.16

{{if .MixedInAPI}}replace (
    {{.ApiRepositoryPath}} => ../go
)
{{- end}}

require (
    {{.ApiRepositoryPath}} v0.0.0
    github.com/mojo-lang/core/go v0.0.0-20211123010202-03f9f6e22fd2
    github.com/mojo-lang/geom/go v0.0.0-20211119132822-836b7b2cb4ed
    github.com/ncraft-io/ncraft-go v0.0.0-20211121022936-c4f027b4354b
	github.com/HdrHistogram/hdrhistogram-go v1.0.1 // indirect
	github.com/gin-gonic/gin v1.6.3 // indirect
	github.com/go-kit/kit v0.10.0
	github.com/google/uuid v1.1.1
	github.com/gorilla/mux v1.7.4
	github.com/heptiolabs/healthcheck v0.0.0-20180807145615-6ff867650f40
	github.com/json-iterator/go v1.1.9
	github.com/konsorten/go-windows-terminal-sequences v1.0.2 // indirect
	github.com/nacos-group/nacos-sdk-go v1.0.8 // indirect
	github.com/opentracing/opentracing-go v1.1.0
	github.com/pkg/errors v0.9.1
	github.com/prometheus/client_golang v1.6.0
	github.com/rs/cors v1.7.0
	github.com/uber/jaeger-client-go v2.25.0+incompatible // indirect
	github.com/uber/jaeger-lib v2.4.0+incompatible // indirect
	go.uber.org/automaxprocs v1.3.0
	google.golang.org/genproto v0.0.0-20190819201941-24fa4b261c55
	google.golang.org/grpc v1.42.0
)
