/// the {{.Name}} package
package {{.FullName}} {
    version: '{{.Version}}'
    authors: [{
        author: '{{.Author}}'
        email:  '{{.Email}}'
        organization: '{{.Organization}}'
    }]
    {{if .License}}license: '{{.License}}'
    {{- end}}
    dependencies: {
        'mojo.core': {repository: 'github.com/mojo-lang/core', version: '0.0.0-20211119132348-90ee1919cb31'}
        'mojo.geom': {repository: 'github.com/mojo-lang/geom', version: '0.0.0-20211119132822-836b7b2cb4ed'}
    }
    repository: '{{.Repository}}'
}
