/// the {{.Name}} package
package {{.FullName}} {
    version: '{{.Version}}'
    authors: [{
        author: '{{.Author}}'
        email:  '{{.Email}}'
        organization: '{{.Organization}}'
    }]
    {{if .License}}license: '{{.License}}'
    {{- end}}
    dependencies: {
        'mojo.core': {repository: 'github.com/mojo-lang/core', version: '0.0.0-20211123010202-03f9f6e22fd2'}
        'mojo.geom': {repository: 'github.com/mojo-lang/geom', version: '0.0.0-20211121061729-3cc68d7658b2'}
    }
    repository: '{{.Repository}}'
}
